# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output dari `go build`
/main
/build/
/dist/
/bin/
/*.log

# Air (live reloading)
.air
.air.toml

# Dependency
/vendor/

# Module files (optional, kalau kamu nggak mau track vendor)
/go.sum

# IDE/editor-specific
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini
